﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

</head>
<body bgcolor="#808000">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Заказы", "Index", "Orders")</li>
                    }

                    <li>@Html.ActionLink("Список запчастей", "Index", "SortedParts")</li>
                    <li>@Html.ActionLink("Счета", "Index", "Bill")</li>
                    <li>@Html.ActionLink("Документы", "Index", "DocumentType")</li>
                   
                    <li class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Справочники
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @Html.ActionLink("Заказчики", "Index", "Customer")
                            <br />@Html.ActionLink("МОЛ", "Index", "MOL")
                            <br />@Html.ActionLink("Автомобили", "Index", "Car")
                            <br />@Html.ActionLink("1C счета", "Index", "Balance")
                            <br />@Html.ActionLink("Субконто", "Index", "Conto")
                            <br />@Html.ActionLink("Склады", "Index", "Warehouse")
                            <br />@Html.ActionLink("Единицы измерения", "Index", "UnitCount")
                        </div>

                    </li>
                    <li class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Операции
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @Html.ActionLink("Создать приход", "Create", "Operations")

                        </div>

                    </li>

                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
