﻿@model IEnumerable<Warehouse.Models.Part.TestPartListModel>

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function () { $('#searchrusname').autocomplete({ source: '@Url.Action("GetNameSearchJson")' , minLength: 1, autoFocus: true }); })
        $(document).ready(function () { $('#searchpartnumber').autocomplete({ source: '@Url.Action("GetPartNumberSearchJson")' , minLength: 1, autoFocus: true }); })
    </script>
</head>
<body>

    @using (Html.BeginForm("GetNameSearch", "Home", FormMethod.Get, new { enctype = "multipart /form-data" }))
    {
        <div class="ui-widget">
            <input type="text" name="term" id="searchrusname">
            <input type="submit" value="Find" />
        </div>
    }

    <ol>
        @foreach (var item in Model)
        {
            <li>
                @Html.DisplayFor(modelItem => item.RusName)
                @Html.DisplayFor(modelItem => item.EngName)
                @Html.DisplayFor(modelItem => item.PartNumber)
                @Html.DisplayFor(modelItem => item.UnitCount)
            </li>
        }
    </ol>
</body>


