﻿@model DataAccess.Entities.PartEntity
@{
    ViewBag.Title = "Details";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RusName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RusName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EngName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitCount.UnitCountName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LimitQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimitQuantity)
        </dd>
    </dl>
</div>
<div>
    <img src="@Url.Content("~/Content/PartImages/"+ Model.PictureName)" class="img-thumbnail" alt="Cinque Terre" width="800" height="600">
</div>

@using (@Html.BeginForm("Upload", "Parts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <input type="file" name="upload" /><br>
    <input type="submit" value="Загрузить" />
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
