﻿@model IEnumerable<DataAccess.Entities.PartEntity>

@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<p>
    @Html.ActionLink("PictureRename", "PictureRename")
    @Html.ActionLink("Create New", "CreateRart")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @if (HttpContext.Current.User.IsInRole("admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
            <button style="background-color: #4CAF50;   border: none;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;" onclick="
                        navigator.clipboard.writeText('@(item.RusName) @(item.PartNumber)')
                        ">Buff</button>
        </td>
    </tr>
}

</table>
