﻿@model IEnumerable<DataAccess.Entities.PartEntity>

@{
    ViewBag.Title = "PartsList";
    // Layout = null;
}

<h2>Перечень запчастей</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Добавить новую запчасть", "CreateRart")
    }
</p>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Default functionality</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*    <link rel="stylesheet" href="~/Content/Site.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


    <script>

        $(document).ready(function () { $('#searchrusname').autocomplete({ source: '@Url.Action("GetNameSearchJson")' , minLength: 1, autoFocus: true }); })
        $(document).ready(function () { $('#searchpartnumber').autocomplete({ source: '@Url.Action("GetPartNumberSearchJson")' , minLength: 1, autoFocus: true }); })

       

    </script>

</head>


<div>
    <div style="float: left;">
        <text> Поиск по наименованию:</text>
        @using (Html.BeginForm("GetNameSearch", "Parts", FormMethod.Get, new { enctype = "multipart /form-data" }))
        {
            <div class="ui-widget">
                <input type="text" name="rusname" id="searchrusname">
                <input type="submit" value="Find" />

            </div>
        }
    </div>
    <div style="float: none;">
        @using (Html.BeginForm("GetPartNumberSearch", "Parts", FormMethod.Get, new { enctype = "multipart /form-data" }))
        {
            <text> Поиск по артикулу:</text>
            <div class="ui-widget">
                <input type="text" name="partnumber" id="searchpartnumber">
                <input type="submit" value="Find" />
            </div>
        }
    </div>

</div>


    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RusName)
                @*@using (Html.BeginForm("GetNameSearch", "Parts", FormMethod.Get, new { enctype = "multipart /form-data" }))
                    {
                    <div class="ui-widget">
                        <input type="text" name="rusname" id="searchrusname">
                        <input type="submit" value="Find" />

                    </div>
                    }*@

            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EngName)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PartNumber)
                @*@using (Html.BeginForm("GetPartNumberSearch", "Parts", FormMethod.Get, new { enctype = "multipart /form-data" }))
                    {
                        <div class="ui-widget">
                            <input type="text" name="partnumber" id="searchpartnumber">
                            <input type="submit" value="Find" />
                        </div>
                    }*@
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RusName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EngName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PartNumber)
                    <button style="background-color: #4CAF50;   border: none;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;" onclick="
                        navigator.clipboard.writeText('@(item.RusName)     @(item.PartNumber)')
                        ">
                        Скопировать в буффер
                    </button>
                </td>
                <td>
                    @if (item.PictureName == null)
                    {
                        <img src="@Url.Content("~/content/PartImages/noimage.jpg")" width="100%">
                    }
                    else
                    {
                        <img src="@Url.Content("~/content/PartImages/"+ item.PictureName)" width="100%">
                    }

                </td>

                <td width="200">
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { id = item.Id }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }

    </table>
