﻿@model IEnumerable<DataAccess.Entities.PartEntity>

@{
    ViewBag.Title = "ShowPartList";
}

<head>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    @*<script>
            $(document).ready(function () { $('#search').autocomplete({ source: '@Url.Action("GetNameSearch")', minLength: 1, autoFocus: true }); })
        </script>*@
    <script type="text/javascript">
            (function ($) {

                $(document).ready(function () {
                    $('#search').autocomplete({ source: '@Url.Action("GetNameSearch")', minLength: 1, autoFocus: true });
            });
            });
    </script>

</head>

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js" type="text/javascript"></script>*@

<!-- Assume "$" is a prototype reference. -->
@*<script type="text/javascript">
        (function ($) {
        < !--Here "$" is a jQuery reference-- >
                $(document).ready(function () {
                    $().UItoTop({ easingType: 'easeOutQuart' });
                });
        })(jQuery);
    </script>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*@using (Html.BeginForm("GetPartSearch", "Home", FormMethod.Get, new { enctype = "multipart /form-data" }))
{
<div class="ui-widget">
    <input type="text" name="rusname" id="search1">
    <input type="text" name="engname" id="search2">
    <input type="text" name="partnumber" id="search3">
    <input type="submit" value="Find" />
</div>
}*@

@using (Html.BeginForm("GetNameSearch", "Home", FormMethod.Get, new { enctype = "multipart /form-data" }))
{
    <div class="ui-widget">
        <input type="text" name="term" id="search">
        <input type="submit" value="Find" />
    </div>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <button style="background-color: #4CAF50;   border: none;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;" onclick="
                        navigator.clipboard.writeText('@(item.RusName) @(item.PartNumber)')
                        ">Buff</button>
            </td>
        </tr>
    }

</table>
