﻿
@{
    ViewBag.Title = "Index1";
}
@model List<string>
@{
    Layout = null;
}
<h2>Index1</h2>
<!DOCTYPE html>
<html>
<body>

    <ol>
        @foreach (var item in Model)
        {
                <li>@item</li>
        }
    </ol>

</body>
</html>

