﻿@model Warehouse.Models.Warehouse.WarehouseEditModel

@{
    ViewBag.Title = "Create";
}

<h2>Добавление склада:</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WarehouseEditModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BalanceName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Balance.Id, new SelectList(Model.BalanceList, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.BalanceName, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.BalanceName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOLName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MOL.Id, new SelectList(Model.MOLList, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.MOLName, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.MOLName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContoName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Conto.Id, new SelectList(Model.ContoList, "Id", "Name"), htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.ContoName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.DropDownListFor(model => model.UnitCountId, new SelectList(Model.UnitCountList, "Id", "UnitCountName"), htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ContoName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
