﻿@model Warehouse.Models.Order.AutoOrderCreateModel
@{
    ViewBag.Title = "AutoOrderCreate";
}

<h2>AutoOrderCreate</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />


    <div class="form-group">
      

        @Html.LabelFor(model => model.PartCategoryList, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PartCategoryId, new SelectList(Model.PartCategoryList, "Id", "PartCategoryName"), htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Создать</button>
            </div>
        </div>
    </div>
</div>
}

