﻿@model DataAccess.Entities.OrderItemEntity

@{
    ViewBag.Title = "DeleteOrderItem";
}

<h2>DeleteOrderItem</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderItemEntity</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.PartEntity.RusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartEntity.RusName)
        </dd>
              

        <dt>
            @Html.DisplayName("Ед.изм:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
