﻿@using System.Globalization
@model IEnumerable<Warehouse.Models.Order.OrderViewModel>
@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function () { $('#searchbypartnumber').autocomplete({ source: '@Url.Action("GetPartNumberSearchJson", "SortedParts")', minLength: 1, autoFocus: true }); })
         $(document).ready(function () { $('#searchbypartname').autocomplete({ source: '@Url.Action("GetNameSearchJson", "SortedParts")', minLength: 1, autoFocus: true }); })
    </script>
</head>

<h2>Заказы запчастей</h2>

<p>
    <ul>
        <li>@Html.ActionLink("Добавить заказ", "Create")</li>
        <li>@Html.ActionLink("Сформировать заказ по остаткам на кладе", "AutoOrderCreate")</li>
    </ul>

    <div style="float: left;">
        @using (Html.BeginForm("Index", "Orders", FormMethod.Post, new { enctype = "multipart /form-data" }))
        {
            <text> Отображать последние:</text>
            <div class="ui-widget">
                <input type="number" name="count" value="10">
                <input type="submit" value="Show" />
            </div>
        }
    </div>
    @*Find orders by name*@
    <div style="float: left;">
        @using (Html.BeginForm("FindOrdersByName", "Orders", FormMethod.Post, new { enctype = "multipart /form-data" }))
        {
            <text> Найти заказы по наименованию:</text>
            <div class="ui-widget">
                <input type="text" name="partname" id="searchbypartname">
                <input type="submit" value="Show" />
            </div>
        }
    </div>
    @*Find orders by name*@
    @*Find orders by item*@
    <div style="float: left;">
        @using (Html.BeginForm("FindOrdersByItem", "Orders", FormMethod.Post, new { enctype = "multipart /form-data" }))
        {
            <text> Найти заказы по артикулу:</text>
            <div class="ui-widget">
                <input type="text" name="partnumber" id="searchbypartnumber">
                <input type="submit" value="Show" />
            </div>
        }
    </div>
    @*Find orders by item*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Изм. дату/имя", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                @Html.ActionLink("Изменить содержимое", "UpdateOrder", new { id = item.Id }) |
                @Html.ActionLink("Экспорт в Exel", "ExportOrder", new { id = item.Id }) |
                @Html.ActionLink("Экспорт в txt", "ExportTxtOrder", new { id = item.Id })
            </td>
        </tr>
    }
</table>

