﻿@model Warehouse.Models.Order.OrderDetailsModel

@{
    ViewBag.Title = "OrderDetails";
}

<h2>Подробности  @Html.DisplayFor(model => model.Name) </h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

    </dl>
</div>
<table class="table">
    <tr>
        <th>
            <h>№</h>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.First().PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.First().PartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.First().Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.First().UnitCount)
        </th>
    </tr>
    @{
        var i = 0;
        var partlist = Model.OrderItems;
    }
    @foreach (var item in partlist)
    {
        i++;
        <tr>
            <td>
                @Html.Label(i.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCount)
            </td>

        </tr>
    }
</table>
<p>
    @Html.ActionLink("Обратно к списку", "Index")
</p>
