﻿@model IEnumerable<Warehouse.Models.OrderModel>

@{
    ViewBag.Title = "OrderListDetails";
}

<h2>OrderListDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Default functionality</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*    <link rel="stylesheet" href="~/Content/Site.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


    <script>

        $(document).ready(function () { $('#searchrusname').autocomplete({ source: '@Url.Action("GetNameSearchJson","Parts")' , minLength: 1, autoFocus: true }); })
        $(document).ready(function () { $('#searchpartnumber').autocomplete({ source: '@Url.Action("GetPartNumberSearchJson", "Parts")' , minLength: 1, autoFocus: true }); })


    </script>

</head>
<table class="table">
    <tr>
        <th>
            @Html.Label("№")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>
    @{
        var i = 0;
        var partlist = Model.OrderByDescending(x => x.PartNumber);
    }
    @foreach (var item in partlist)
    {
        i++;
        <tr>
            <td>
                @Html.Label(i.ToString())

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditOrderItem", new { id = item.PrimaryKey }) |
                @Html.ActionLink("Подробности", "Details", new { id = item.PrimaryKey }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.PrimaryKey })
            </td>
        </tr>
    }

</table>
<div class="ui-widget">
    <input type="text" name="rusname" id="searchrusname">
    <input type="submit" value="Find" />
</div>
<div class="ui-widget">
    <input type="text" name="partnumber" id="searchpartnumber">
    <input type="submit" value="Find" />
</div>
