﻿@model Warehouse.Models.Order.UpdateOrderModel


@{
    ViewBag.Title = "EditOrder";
    int i = 1;
}

<h2>Название заказа:  @Model.OrderName</h2>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(document).ready(function () { $('#FocusPoint').focus() } )
         $(document).ready(function () { $('#searchrusname').autocomplete({ source: '@Url.Action("GetNameSearchJson","Parts")' , minLength: 1, autoFocus: true }); })
         $(document).ready(function () { $('#searchpartnumber').autocomplete({ source: '@Url.Action("GetPartNumberSearchJson", "Parts")' , minLength: 1, autoFocus: true }); })

        $(document).ready(function () {
            $('#submitengmame').click(function (e) {
            e.preventDefault();
                var name = $('#engpartname').val();
               // name = encodeURIComponent(name);
             
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("EngNameToPartConvert", "Parts")",
                    data: { term: name },
                    dataType: "json", 
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if ($('#engpartname').val() != '') {
                            $('#searchrusname').val(data[0].RusName);
                            $('#searchpartnumber').val(data[0].PartNumber);
                        }
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });  

            });

            $('#submitPartNumber').click(function (e) {
            e.preventDefault();
                var name = $('#searchpartnumber').val();
             //   name = encodeURIComponent(name);
             
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("NumberToNameConvert", "Parts")",
                    data: { term: name },
                    dataType: "json", 
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if ($('#searchpartnumber').val() != '') {
                            $('#searchrusname').val(data[0]);
                        }
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });  

            });
            $('#submitPartName').click(function (e) {
            e.preventDefault();
                var name = $('#searchrusname').val();
                //name = encodeURIComponent(name);
             
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("NameToNumberConvert", "Parts")",
                    data: { term: name },
                    dataType: "json", 
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $('#searchpartnumber').val(data[0]);
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });  
            });
    });

    </script>
</head>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("№")
            </th>
            <th>
                @Html.DisplayName("Наименование:")
            </th>
            <th>
                @Html.DisplayName("EngName:")
            </th>
            <th>
                @Html.DisplayName("Артикул:")
            </th>
            <th>
                @Html.DisplayName("Количество:")
            </th>
            <th>
                @Html.DisplayNameFor(x=>x.PartItems.Single().UnitCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PartItems)
        {

        <tr>
            <td>
                @i.ToString()
                @{
                    i++;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartRusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartEngName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCount)
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditOrderItem", new { id = item.Id })
                @Html.ActionLink("Удалить", "DeleteOrderItem", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>

</table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.OrderId)
    @Html.HiddenFor(m => m.NewPartItem.SerialIndex)
    <div class="form-inline">
        @Html.LabelFor(model => Model.NewPartItem.PartRusName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.NewPartItem.PartRusName, new { htmlAttributes = new { @class = "form-control", id = "searchrusname" } })
            <input type='button' id="submitPartName" value='Проверить по наименованию' />
            @Html.ValidationMessageFor(model => model.NewPartItem.PartRusName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-inline">
        @Html.LabelFor(model => Model.NewPartItem.PartEngName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.NewPartItem.PartEngName, new { htmlAttributes = new { @class = "form-control", id = "engpartname" } })
            <input type='button' id="submitengmame" value='Проверить по англ названию' />
            @Html.ValidationMessageFor(model => model.NewPartItem.PartEngName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-inline">
        @Html.LabelFor(model => Model.NewPartItem.PartNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.NewPartItem.PartNumber, new { htmlAttributes = new { @class = "form-control", id = "searchpartnumber" } })
            <input type='button' id="submitPartNumber" value='Проверить по артикулу' />
            @Html.ValidationMessageFor(model => model.NewPartItem.PartNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => Model.NewPartItem.Count, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => Model.NewPartItem.Count, new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.ValidationMessageFor(model => model.NewPartItem.Count, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-inline">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Добавить" class="btn btn-default" id="FocusPoint" />
        </div>
    </div>
</div>
    }

<div>
    @*@Html.ActionLink("Обратно к списку в новой вкладке", "Index",null, new { target = "_blank" })*@
    @Html.ActionLink("Back to List", "Index")
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
