﻿@using Warehouse.Models.Identity
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "ASP.NET Identity";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Учетные записи
    </div>
    <table class="table table-striped">
        <tr>
            <th>Имя</th>
            <th>E-mail</th>
            <th>Дата</th>
            <th>Роль</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">Нет ни одной учетной записи</td>
            </tr>
        }
        else
        {
            foreach (var user in Model)
            {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Year</td>
                <td>
                    <table class="table table-striped">
                        @foreach (var item in user.Roles)
                        {
                            <tr>
                                @item.RoleId
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            }
        }
    </table>
</div>
@Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-primary" })

