﻿@model List<string>

@{
    ViewBag.Title = "RoleShow";
}

<h2>Your roles:</h2>


<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
       
    </tr>
}

</table>
