﻿@model IEnumerable<Warehouse.Models.Document.DocumentListModel>

@{
    ViewBag.Title = "Index";
}

<h2>Накладные</h2>

<p>
    @Html.ActionLink("Создать документ", "Create") 
    @*@Html.ActionLink("Создать расходную ТТН", "CreateOutDocument")***
    @Html.ActionLink("Создать приходную ТТН", "CreateInputDocument")***
    @Html.ActionLink("Создать сводный документ", "CreateСonыolidatedDocument")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Просмотр", "Document", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
