﻿@model IEnumerable<DataAccess.Entities.PartEntity>

@{
    ViewBag.Title = "PartsList";
    // Layout = null;
}

<h2>Перечень запчастей</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Добавить новую запчасть", "CreateRart")
    }
</p>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Autocomplete - Default functionality</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*    <link rel="stylesheet" href="~/Content/Site.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@


    <script>
        $(document).ready(function () { $('#searchrusname').autocomplete({ source: '@Url.Action("GetNameSearchJson")' , minLength: 1, autoFocus: true }); })
        $(document).ready(function () { $('#searchpartnumber').autocomplete({ source: '@Url.Action("GetPartNumberSearchJson")', minLength: 1, autoFocus: true }); })
        //Категории
        $(document).ready(function () { $('#searchcategory').autocomplete({ source: '@Url.Action("GetCategoriesSearchJson")' , minLength: 1, autoFocus: true }); })
    </script>

</head>

<div>
    <div style="float: left;">
        <text> Поиск по наименованию:</text>
        @using (Html.BeginForm("GetNameSearch", "SortedParts", FormMethod.Get, new { enctype = "multipart /form-data" }))
        {
            <div class="ui-widget">
                <input type="text" name="rusname" id="searchrusname">
                <input type="submit" value="Find" />
            </div>
        }
    </div>
    <div style="float: left;">
        @using (Html.BeginForm("GetPartNumberSearch", "SortedParts", FormMethod.Get, new { enctype = "multipart /form-data" }))
        {
            <text> Поиск по артикулу:</text>
            <div class="ui-widget">
                <input type="text" name="partnumber" id="searchpartnumber">
                <input type="submit" value="Find" />
            </div>
        }
    </div>
    <div style="float: left;">
        @using (Html.BeginForm("GetPartOnCategorySearch", "SortedParts", FormMethod.Get, new { enctype = "multipart /form-data" }))
        {
            <text> Поиск по категории:</text>
            <div class="ui-widget">
                <input type="text" name="category" id="searchcategory">
                <input type="submit" value="Find" />
            </div>
        }
    </div>
</div>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartNumber)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RusName)
                    <div>
                        <h6>
                            Лим. на складе:
                            @Html.DisplayFor(modelItem => item.LimitQuantity)
                            @Html.DisplayFor(modelItem => item.UnitCount.UnitCountName)
                        </h6>
                      <p>
                          <button style="background-color: #4CAF50;   border: none;

  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;" onclick="
                        navigator.clipboard.writeText('@(item.RusName)     @(item.PartNumber)    @(item.UnitCount.UnitCountName)')
                        "; allow="clipboard-read; clipboard-write">
    Скопировать в буффер</button>
                          </p>  
                    </div>  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartNumber)
                </td>
                <td>
                    @if (item.PictureName == null)
                    {
                        <img src="@Url.Content("~/content/PartImages/noimage.jpg")" height="150">
                    }
                    else
                    {
                        <img src="@Url.Content("~/content/PartImages/"+ item.PictureName)"  height="150">
                    }
                   
                </td>

                <td width="200">
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                    <p>
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id })
                    </p>
                    <p>
                        @Html.ActionLink("Подробности", "Details", new { id = item.Id }, new { id = item.Id })
                    </p>
                    <p>
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </p>
                    }
                    <h6>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </h6>
                </td>
            </tr>
        }
    </table>
