﻿@model Models.BillItem

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>

        $(document).ready(function () { $('#searchrusname').autocomplete({ source: '@Url.Action("GetNameSearchJson","Parts")' , minLength: 1, autoFocus: true }); })
        $(document).ready(function () { $('#searchpartnumber').autocomplete({ source: '@Url.Action("GetPartNumberSearchJson", "Parts")' , minLength: 1, autoFocus: true }); })

        $(document).ready(function () {
            $('#submitPartNumber').click(function (e) {
            e.preventDefault();
                var name = $('#searchpartnumber').val();
                name = encodeURIComponent(name);
             
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("NumberToNameConvert", "Parts")",
                    data: { term: name },
                    dataType: "json", 
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (name != '') {
                            $('#searchrusname').val(data[0]);
                        }
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });  

            });
            $('#submitPartName').click(function (e) {
            e.preventDefault();
                var name = $('#searchrusname').val();
                //name = encodeURIComponent(name);
             
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("NameToNumberConvert", "Parts")",
                    data: { term: name },
                    dataType: "json", 
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $('#searchpartnumber').val(data[0]);
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });  
            });
    });

    </script>
</head>



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Добавление запчасти:</h4>
        <hr />
        
       
        <div class="form-inline">
            @Html.LabelFor(model => model.PartName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartName, new { htmlAttributes = new { @class = "form-control", @id = "searchrusname" } })
                <input type='button' id="submitPartName" value='Проверить по наименованию' />
                @Html.ValidationMessageFor(model => model.PartName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.PartNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartNumber, new { htmlAttributes = new { @class = "form-control", @id = "searchpartnumber" } })
                <input type='button' id="submitPartNumber" value='Проверить по артикулу' />
                @Html.ValidationMessageFor(model => model.PartNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-inline">
            @Html.LabelFor(model => model.Count, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
