﻿@model IEnumerable<Warehouse.Models.DocumentType.DocumentTypeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Типы документов</h2>

@*<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Весь список", "DocTypesList","Document", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
